<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">




    <title>MSU Webmail</title>



    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <link rel="stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/styles.css') }}">

    <script src="//cdn.ckeditor.com/4.14.1/basic/ckeditor.js"></script>






  </head>
  <body class="text-center">

    <form class="form-signin" method="POST" enctype="multipart/form-data">
      <h1>Email Client</h1>
      <h1 class="h3 mb-3 font-weight-normal">Send Email</h1>
      <label for="sendto" class="sr-only">To:</label>
      <input type="email" name= "toemail" id="sendto" class="form-control" placeholder="To" required autofocus>
      <label for="subject" class="sr-only">Subject</label>
      <input type="text" name="subject" id="subject" class="form-control" placeholder="Subject" required>


      <label for="msgbody" class="sr-only">Body</label>
      <textarea name="msgbody" id="msgbody" placeholder="Message Body" required rows=10 cols=10></textarea>
      <script>
          CKEDITOR.replace( 'msgbody' );
      </script>




      <button class="btn btn-lg btn-danger btn-block" type="submit">Send</button>
  </form>
</body>
</html>
